<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<!-- https://fontawesome.com/icons/wave-square?style=solid logo got from here -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/faviconlogostuff/apple-touch-icon.png">
<link rel="shortcut icon" href="/assets/faviconlogostuff/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/faviconlogostuff/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/faviconlogostuff/favicon-16x16.png">
<link rel="manifest" href="/assets/faviconlogostuff/site.webmanifest">
<link rel="mask-icon" href="/assets/faviconlogostuff/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Mathjax Support -->
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<!-- end custom head snippets -->
